<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <akka>
    <hocon>
      <![CDATA[
          akka 
          {
            actor.provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            remote
            {
              helios.tcp 
              {
                port = 0 #let os pick random port
                hostname = localhost
              }   
            }
            cluster 
            {
              seed-nodes = ["akka.tcp://ClusterPoC@localhost:2551", "akka.tcp://ClusterPoC@localhost:2552"]
            }
          }
      ]]>
    </hocon>
  </akka>
</configuration>